<aside
  [class.flex]="visibilitySidebarState.isVisible()"
  [class.hidden]="!visibilitySidebarState.isVisible()"
  class="absolute md:static w-full md:w-[280px] h-full p-lg border-r-1 border-gray-50 shadow-sm flex-col gap-18 transition-all duration-300 bg-gray-50"
>
  <div class="flex items-center justify-between px-3 pt-4">
    <div class="w-full p-lg flex items-center gap-sm mb-xl">
      <span class="material-symbols-outlined text-[#055cb9] !text-[40px]">radiology</span>
      <div class="flex flex-col gap-0.5">
        <span class="font-semibold text-lg text-[#055cb9] leading-none">Radioscan</span>
        <span class="font-medium text-[11px] uppercase leading-none">Sistema clínico</span>
      </div>
      <!-- menu open is menu_open and menu closed is menu-->
    </div>
    <span
      (click)="toggleMenu()"
      class="md:!hidden material-symbols-outlined !text-[30px] [font-variation-settings:'wght'_300] text-gray-600 cursor-pointer"
      >{{ this.visibilitySidebarState.isVisible() ? 'menu_open' : 'menu' }}</span
    >
  </div>

  <!-- Sidebar navigation for patient -->
  <nav class="flex flex-col gap-2 pl-5 px-5">
    <ul class="flex flex-col gap-2">
      <li>
        <a
          [routerLink]="'/dashboard/' + role.toLowerCase()"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #rla1="routerLinkActive"
          class="p-2 rounded-xl text-[14px] font-medium transition-all flex items-center gap-2 w-full"
          [class.bg-blue-100]="rla1.isActive"
          [class.text-[#055cb9]]="rla1.isActive"
          [class.hover:bg-blue-50]="rla1.isActive"
          [class.text-gray-600]="!rla1.isActive"
          [class.hover:bg-gray-100]="!rla1.isActive"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >home</span
          >
          <span>Início</span>
        </a>
      </li>
      <!-- show only for patients -->
      <li [hidden]="role !== 'PATIENT'">
        <a
          routerLink="/dashboard/patient/schedule-an-appointment"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #rla2="routerLinkActive"
          class="p-2 rounded-xl text-[14px] font-medium transition-all flex items-center gap-2 w-full"
          [class.bg-blue-100]="rla2.isActive"
          [class.text-[#055cb9]]="rla2.isActive"
          [class.hover:bg-blue-50]="rla2.isActive"
          [class.text-gray-600]="!rla2.isActive"
          [class.hover:bg-gray-100]="!rla2.isActive"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >calendar_add_on</span
          >
          <span>Marcar consulta</span>
        </a>
      </li>
      <!-- show only for patients -->
      <li [hidden]="role !== 'PATIENT'">
        <a
          routerLink="/dashboard/patient/appointment-history"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #rla3="routerLinkActive"
          class="p-2 rounded-xl text-[14px] font-medium transition-all flex items-center gap-2 w-full"
          [class.bg-blue-100]="rla3.isActive"
          [class.text-[#055cb9]]="rla3.isActive"
          [class.hover:bg-blue-50]="rla3.isActive"
          [class.text-gray-600]="!rla3.isActive"
          [class.hover:bg-gray-100]="!rla3.isActive"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >event_note</span
          >
          <span>Histórico de consultas</span>
        </a>
      </li>
      <!-- show only for admins -->
      <li [hidden]="role !== 'ADMIN'">
        <a
          routerLink="/dashboard/admin/create-account-employee"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #rla4="routerLinkActive"
          class="p-2 rounded-xl text-[14px] font-medium transition-all flex items-center gap-2 w-full"
          [class.bg-blue-100]="rla4.isActive"
          [class.text-[#055cb9]]="rla4.isActive"
          [class.hover:bg-blue-50]="rla4.isActive"
          [class.text-gray-600]="!rla4.isActive"
          [class.hover:bg-gray-100]="!rla4.isActive"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >person_add</span
          >
          <span>Criar conta de funcionário</span>
        </a>
      </li>
      <!-- show only for admins -->
      <li [hidden]="role !== 'ADMIN'">
        <a
          routerLink="/dashboard/admin/employee-management"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #rla5="routerLinkActive"
          class="p-2 rounded-xl text-[14px] font-medium transition-all flex items-center gap-2 w-full"
          [class.bg-blue-100]="rla5.isActive"
          [class.text-[#055cb9]]="rla5.isActive"
          [class.hover:bg-blue-50]="rla5.isActive"
          [class.text-gray-600]="!rla5.isActive"
          [class.hover:bg-gray-100]="!rla5.isActive"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >group_search</span
          >
          <span>Gerenciar funcionários</span>
        </a>
      </li>
      <!-- show only for admins -->
      <li [hidden]="role !== 'ADMIN'">
        <a
          routerLink="/dashboard/admin/new-consultation-appointment-slot"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #rla6="routerLinkActive"
          class="p-2 rounded-xl text-[14px] font-medium transition-all flex items-center gap-2 w-full"
          [class.bg-blue-100]="rla6.isActive"
          [class.text-[#055cb9]]="rla6.isActive"
          [class.hover:bg-blue-50]="rla6.isActive"
          [class.text-gray-600]="!rla6.isActive"
          [class.hover:bg-gray-100]="!rla6.isActive"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >assignment_add</span
          >
          <span>Criar novo horário de consulta</span>
        </a>
      </li>
      <!-- show only for admins -->
      <li [hidden]="role !== 'ADMIN'">
        <a
          routerLink="/dashboard/admin/appointment-management"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #rla7="routerLinkActive"
          class="p-2 rounded-xl text-[14px] font-medium transition-all flex items-center gap-2 w-full"
          [class.bg-blue-100]="rla7.isActive"
          [class.text-[#055cb9]]="rla7.isActive"
          [class.hover:bg-blue-50]="rla7.isActive"
          [class.text-gray-600]="!rla7.isActive"
          [class.hover:bg-gray-100]="!rla7.isActive"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >auto_awesome_motion</span
          >
          <span>Gerenciar consultas</span>
        </a>
      </li>
      <!-- show only for doctors or technicals -->
      <li [hidden]="role !== 'DOCTOR' && role !== 'TECHNICAL'">
        <a
          [routerLink]="'/dashboard/' + role.toLowerCase() + '/my-consultations'"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #rla8="routerLinkActive"
          class="p-2 rounded-xl text-[14px] font-medium transition-all flex items-center gap-2 w-full"
          [class.bg-blue-100]="rla8.isActive"
          [class.text-[#055cb9]]="rla8.isActive"
          [class.hover:bg-blue-50]="rla8.isActive"
          [class.text-gray-600]="!rla8.isActive"
          [class.hover:bg-gray-100]="!rla8.isActive"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >insert_chart</span
          >
          <span>Minhas consultas</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
