<nav
  class="w-full flex justify-between border-b-1 border-gray-50 shadow-sm h-15 px-5 items-center select-none"
>
  <!-- menu open is menu_open and menu closed is menu-->
  <span
    class="material-symbols-outlined !text-[30px] [font-variation-settings:'wght'_300] text-gray-600 cursor-pointer"
    >menu_open</span
  >
  <div class="flex gap-6 items-center">
    <div
      class="flex gap-2 justify-center items-center px-4 transition-all border-r-1 border-gray-100 hover:cursor-default"
    >
      <div class="hidden md:flex flex-col items-end">
        <p class="font-medium text-[14px]">Douglas Phelipe</p>
        <p class="text-[13px] text-gray-600">Paciente</p>
      </div>
      <span
        class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300] bg-[#055cb9] text-white rounded-full p-1"
        >person</span
      >
    </div>
    <span
      class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300] text-gray-600 hover:cursor-pointer"
      >settings</span
    >

    <span
      class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300] text-gray-600 hover:cursor-pointer"
      >logout</span
    >
  </div>
</nav>
