<aside
  class="w-[280px] h-full bg-surface-variant p-lg border-r-1 border-gray-50 shadow-sm flex flex-col gap-18"
>
  <div class="pl-3 pt-4 w-full p-lg flex items-center gap-sm mb-xl">
    <span class="material-symbols-outlined text-[#055cb9] !text-[40px]">radiology</span>
    <div class="flex flex-col gap-0.5">
      <span class="font-semibold text-lg text-[#055cb9] leading-none">Radioscan</span>
      <span class="font-medium text-[11px] uppercase leading-none">Sistema clínico</span>
    </div>
  </div>

  <!-- Sidebar navigation for patient -->
  <nav class="flex flex-col gap-2 pl-5 px-5">
    <ul class="flex flex-col gap-2">
      <li>
        <a
          href="/dashboard"
          class="p-2 rounded-xl text-[14px] bg-blue-100 text-[#055cb9] font-medium transition-all shadow-sm flex items-center gap-2"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >home</span
          >
          <span>Início</span>
        </a>
      </li>
      <li>
        <a
          href="/dashboard"
          class="p-2 rounded-xl text-[14px] text-gray-600 font-medium hover:bg-gray-100 transition-all flex items-center gap-2"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >calendar_add_on</span
          >
          <span>Marcar consulta</span>
        </a>
      </li>
      <li>
        <a
          href="/dashboard"
          class="p-2 rounded-xl text-[14px] text-gray-600 font-medium hover:bg-gray-100 transition-all flex items-center gap-2"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >event_note</span
          >
          <span>Histórico de consultas</span>
        </a>
      </li>
      <li>
        <a
          href="/dashboard"
          class="p-2 rounded-xl text-[14px] text-gray-600 font-medium hover:bg-gray-100 transition-all flex items-center gap-2"
        >
          <span class="material-symbols-outlined !text-[24px] [font-variation-settings:'wght'_300]"
            >description</span
          >
          <span>Meus exames</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
