<main class="flex flex-col gap-8 p-lg p-10">
  <!-- Title and add employee button component -->
  <section class="flex justify-between flex-wrap items-center gap-4">
    <h1 class="text-4xl font-bold text-[#055cb9]">Dashboard do Funcionário</h1>
  </section>
  <section class="flex items-center md:gap-10 justify-between md:justify-start flex-wrap">
    <!-- Total de funcionários component -->
    <div
      class="w-full md:w-70 flex items-center gap-4 bg-white border-1 border-gray-100 rounded-xl shadow-sm p-6"
    >
      <span
        class="material-symbols-outlined [font-variation-settings:'wght'_400] !text-[35px] bg-[#055cb9]/15 text-[#055cb9] p-2 rounded-2xl"
        >calendar_month</span
      >
      <div class="flex flex-col items-start">
        <span class="text-gray-600 font-semibold text-[12px] uppercase">Hoje</span>
        <span class="text-2xl font-bold">{{ metrics().totalAppointments || 0 }}</span>
      </div>
    </div>
    <!-- Médicos component -->
    <div
      class="w-full md:w-70 flex items-center gap-4 bg-white border-1 border-gray-100 rounded-xl shadow-sm p-6"
    >
      <span
        class="material-symbols-outlined [font-variation-settings:'wght'_400] !text-[35px] bg-green-100 text-green-600 p-2 rounded-2xl"
        >check_circle</span
      >
      <div class="flex flex-col items-start">
        <span class="text-gray-600 font-semibold text-[12px] uppercase">Concluídas hoje</span>
        <span class="text-2xl font-bold">{{ metrics().completedAppointments || 0 }}</span>
      </div>
    </div>
    <!-- Técnicos component -->
    <div
      class="w-full md:w-70 flex items-center gap-4 bg-white border-1 border-gray-100 rounded-xl shadow-sm p-6"
    >
      <span
        class="material-symbols-outlined [font-variation-settings:'wght'_400] !text-[35px] bg-red-100 text-red-600 p-2 rounded-2xl"
        >pending</span
      >
      <div class="flex flex-col items-start">
        <span class="text-gray-600 font-semibold text-[12px] uppercase">Pendentes hoje</span>
        <span class="text-2xl font-bold">{{ metrics().pendingAppointments || 0 }}</span>
      </div>
    </div>
  </section>
  <!-- employee table component -->
  <section
    class="flex flex-col justify-start bg-white rounded-2xl shadow-sm w-full overflow-hidden"
  >
    <!-- Filtros component -->
    <div
      class="flex flex-col md:flex-row gap-5 md:gap-0 items-center justify-between bg-[#055cb9]/10 px-6 py-5 rounded-t-2xl shadow-sm"
    >
      <!-- Filtros component-->
      <div class="flex flex-col md:flex-row items-center gap-6">
        <span>Filtrar por status: </span>
        <div
          class="flex gap-3 flex-col md:flex-row bg-[#055cb9]/10 p-3 rounded-xl font-medium text-[14px]"
        >
          <button
            class="py-2 px-4 rounded-lg transition-colors"
            [class.bg-white]="selectedAppointmentStatus() === ''"
            [class.text-[#055cb9]]="selectedAppointmentStatus() === ''"
            [class.text-gray-500]="selectedAppointmentStatus() !== ''"
            [class.hover:bg-white/50]="selectedAppointmentStatus() !== ''"
            (click)="selectedAppointmentStatus.set('')"
          >
            Todos
          </button>
          <button
            class="py-2 px-4 rounded-lg transition-colors"
            [class.bg-white]="selectedAppointmentStatus() === 'SCHEDULED'"
            [class.text-[#055cb9]]="selectedAppointmentStatus() === 'SCHEDULED'"
            [class.text-gray-500]="selectedAppointmentStatus() !== 'SCHEDULED'"
            [class.hover:bg-white/50]="selectedAppointmentStatus() !== 'SCHEDULED'"
            (click)="selectedAppointmentStatus.set('SCHEDULED')"
          >
            Agendadas
          </button>
          <button
            class="py-2 px-4 rounded-lg transition-colors"
            [class.bg-white]="selectedAppointmentStatus() === 'COMPLETED'"
            [class.text-[#055cb9]]="selectedAppointmentStatus() === 'COMPLETED'"
            [class.text-gray-500]="selectedAppointmentStatus() !== 'COMPLETED'"
            [class.hover:bg-white/50]="selectedAppointmentStatus() !== 'COMPLETED'"
            (click)="selectedAppointmentStatus.set('COMPLETED')"
          >
            Concluídas
          </button>
          <button
            class="py-2 px-4 rounded-lg transition-colors"
            [class.bg-white]="selectedAppointmentStatus() === 'CANCELED'"
            [class.text-[#055cb9]]="selectedAppointmentStatus() === 'CANCELED'"
            [class.text-gray-500]="selectedAppointmentStatus() !== 'CANCELED'"
            [class.hover:bg-white/50]="selectedAppointmentStatus() !== 'CANCELED'"
            (click)="selectedAppointmentStatus.set('CANCELED')"
          >
            Canceladas
          </button>
        </div>
      </div>
    </div>
    <table class="w-full text-left border-collapse">
      <thead class="bg-gray-200 text-gray-500">
        <tr>
          <th class="2xl px-6 py-4 text-outline uppercase tracking-wider font-semibold">
            Data/Hora
          </th>
          <th class="px-6 py-4 text-outline uppercase tracking-wider font-semibold">Paciente</th>
          <th class="px-6 py-4 text-outline uppercase tracking-wider font-semibold">Status</th>
          <th class="2xl px-6 py-4 text-outline uppercase tracking-wider font-semibold">Ação</th>
        </tr>
      </thead>

      <tbody>
        @for (appointment of appointments(); track appointment.id) {
          <tr class="border-b border-gray-100">
            <td class="px-6 py-4">
              <div class="flex items-center gap-3">
                <div>
                  <p class="font-medium text-on-surface">
                    {{ formatDate(appointment.dateHour) }}
                  </p>

                  <p class="text-gray-400 text-[12px]">
                    {{ formatTime(appointment.dateHour) }}
                  </p>
                </div>
              </div>
            </td>

            <td class="py-4 font-mono text-gray-500">
              {{
                appointment!.patientName ? appointment!.patientName : 'Nenhum paciente vinculado'
              }}
            </td>

            <td class="px-6 py-4">
              <span
                class="items-center px-4 py-2 rounded-full bg-[#055cb9]/10 text-gray-600 border border-gray-200 shadow-sm"
              >
                {{
                  appointment.appointmentStatus == 1
                    ? 'Disponível'
                    : appointment.appointmentStatus == 2
                      ? 'Agendada'
                      : appointment.appointmentStatus == 3
                        ? 'Cancelada'
                        : appointment.appointmentStatus == 4
                          ? 'Concluída'
                          : ''
                }}
              </span>
            </td>
            <td class="px-6 py-4">
              <app-appointment-action-cell
                [appointmentId]="appointment.id"
                [status]="appointment.appointmentStatus"
                [role]="currentUserRole()!"
              />
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4" class="text-center py-10 text-gray-400">
              Nenhuma consulta vinculada a você foi encontrada.
            </td>
          </tr>
        }
      </tbody>
    </table>

    <!-- Pagination filter component -->
    <div
      class="flex flex-col lg:flex-row justify-between items-start lg:items-center gap-6 bg-[#055cb9]/5 px-6 py-3 rounded-b-2xl shadow-sm"
    >
      <!-- Pagination filter component-->
      <span class="text-[13px] text-gray-500"
        >Mostrando
        {{
          Math.min(
            (this.currentPage() + 1) *
              (this.numberOfElements() === 0
                ? 0
                : this.numberOfElements() === 4
                  ? 4
                  : this.currentPage() * 4),
            this.totalAppointments()
          ) - (this.numberOfElements() === 0 ? 0 : this.numberOfElements() - 1)
        }}-{{
          Math.min(
            (this.currentPage() + 1) *
              (this.numberOfElements() === 0
                ? 0
                : this.numberOfElements() === 4
                  ? 4
                  : this.currentPage() * 4),
            this.totalAppointments()
          )
        }}
        de {{ this.totalAppointments() }} consultas</span
      >
      <div class="flex gap-3 flex-wrap bg-[#055cb9]/10 p-2 rounded-xl font-medium text-[14px]">
        @for (page of this.paginationPages(); track page) {
          <button
            class="py-2 px-4 rounded-lg"
            [ngClass]="{
              'text-[#055cb9] bg-white': this.currentPage() === page,
              'text-gray-500 hover:bg-white/50': this.currentPage() !== page,
            }"
            (click)="this.changePage(page)"
          >
            {{ page + 1 }}
          </button>
        }
      </div>
    </div>
  </section>
</main>
